@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
    background-color: #392f39;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}